@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Välkommmen</h1>

    <p>Hej, välkommen till momen1.2 där vi ska skapa en webbplats med Razor och bygga hemsidan efter en wireframe och läsa ut kurserna vi har läst.</p>

   
</div>
